---
import Section from "@/components/Section.astro";
// Info
import { education } from "@cv";
---

<Section title="Education">
  <ul>
    {
      education.map(
        ({ institution, url, area, studyType, startDate, endDate }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";
          const years = `${endYear}`;
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver el website de ${institution}`}>
                        {institution}
                      </a>
                    </h3>
                  </div>
                  <time>{years}</time>
                </header>
                <footer>
                  <p>
                    {area} • {studyType}
                  </p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
